@media screen and (max-width: 768px) {
    /* body {
        background-color: blue;
    } */

    /* Imagen Autos Index */
    .autosIndex img {
        width: 100%;
        height: auto;
    }

    /* Logo productos */
    .logoRepuesto img {
        width: 100%;
        height: auto;
    }

    /* Imagenes de productos */
    .productos img {
        width: 100%;
        height: auto;
    }

    /* Galeria Videos */
    .texto-galeria iframe {
        width: 100%;
        height: auto;
    }

    /* Contacto Mapa */
    .contacto iframe {
        width: 100%;
        height: auto;
    }

    /* Fotos de trabajos */
    .trabajos img {
        width: 100%;
        height: auto;
    }

    /* Textos */
    h1,
    h2,
    h3,
    h4 {
        font-size: medium
    }
}