@charset "UTF-8";
/* Misc */
/* Media querie - Responsive */
@media screen and (max-width: 768px) {
  /* Imagen Autos Index */
  .container .row .col .autosIndex img {
    width: 100%;
    height: auto;
  }

  /* Logo productos */
  .gridFotosProductos .logoRepuesto img {
    width: 100%;
    height: auto;
  }

  .gridFotosProductos .fotosProductos img {
    width: 100%;
    height: auto;
  }

  /* Imagenes de productos */
  .productos img {
    width: 100%;
    height: auto;
  }

  /* Galeria Videos */
  .texto-galeria iframe {
    width: 100%;
    height: auto;
  }

  /* Contacto Mapa */
  .contacto iframe {
    width: 100%;
    height: auto;
  }

  /* Fotos de trabajos */
  .container .row .col img {
    width: 100%;
    height: auto;
  }

  /* Textos */
  h1,
h2,
h3,
h4 {
    font-size: medium;
  }
}
/* Colores para la pagina */
/* Color del body */
/* Color Menu Nav */
/* Pages */
/* Grid Contenedor de Contacto */
.gridContainerContacto {
  display: grid;
  grid-template-areas: "logo menu" "contacto" "footerGrid";
}

/* Grid Contacto */
.gridContacto {
  display: grid;
  padding-bottom: 10px;
}

/* Animacion formulario de Contacto */
.contacto input:focus {
  transition: all 1s;
  background-color: cornflowerblue;
}

/* Texto y formato de Contacto */
.contacto h1,
form {
  text-align: center;
}
.contacto h1 .div input,
form .div input {
  text-align: center;
}

/* Mapa de Contacto */
.contacto iframe {
  display: flex;
  margin: auto;
}

/* Grid Contenedor de Galeria*/
.gridContainerGaleria {
  display: grid;
  grid-template-areas: "logo menu" "texto-galeria" "footerGrid";
}

/* Texto y video de galeria */
.texto-galeria h1,
h2 {
  text-align: center;
}

.texto-galeria iframe {
  display: flex;
  margin: auto;
}

/* Grid Galeria */
.gridTextoGaleria {
  display: grid;
  padding-bottom: 10px;
}

/* Grid Contenedor de Index */
.gridContainerIndex {
  display: grid;
  grid-template-areas: "logo menu" "textoInicioGrid" "footerGrid";
}

/* GRID textoInicioGrid */
.textoInicioGrid {
  display: grid;
  padding-bottom: 10px;
}

/* Incio textoInicio */
.textoInicio h1,
h2 {
  text-align: center;
}

/* Imagen Autos inicio */
.autosIndex img {
  width: 450px;
  height: 250px;
  display: flex;
  margin: auto;
  border-radius: 5%;
}

.container h3 {
  text-align: center;
}

.logoTVZ img {
  border-radius: 50%;
}

/* Imagenes de logos y productos en Productos */
.logoRepuesto {
  padding-top: 1%;
  text-align: center;
}

.logoRepuesto img {
  border-radius: 5%;
}

.fotosProductos {
  text-align: center;
  justify-content: space-around;
}

.fotosProductos img {
  border-radius: 5%;
}

/* Grid Trabajos */
.gridFotosTrabajos {
  padding-bottom: 10px;
}

/* Texto e imagen en Trabajos */
.trabajos h1,
p {
  text-align: center;
}

.container img {
  width: 450px;
  height: 250px;
}

/* Partials */
body {
  font-family: "Montserrat", sans-serif;
  color: black;
  background: linear-gradient(rgb(65, 65, 65), rgb(255, 255, 255));
  /* Añadi gradiente al fondo */
}

h1 {
  font-size: large;
}

h2 {
  font-size: large;
}

h3 {
  font-size: large;
}

h4 {
  font-size: large;
}

h5 {
  font-size: large;
}

p {
  font-size: large;
}

/* Footer */
.displayGrid, .footerGrid {
  display: grid;
  border-top: solid black;
  padding-top: 10px;
}

.piePagina footer {
  text-align: center;
}
.piePagina img {
  justify-content: space-around;
  width: auto;
  height: 50px;
}

/* SE AGREGO EXTEND */
/* Menu BOOTSTRAP */
.navbar {
  background-image: url(../img/FondoWeb1.png);
  background-position: center;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: cornflowerblue;
}

.navbar-toggler-icon {
  background-image: url(../img/icono-menu.png);
}

.navbar-toggler {
  border: solid white;
}

.logo {
  height: 60px;
  width: auto;
  border-radius: 35%;
  padding: 5px;
}/*# sourceMappingURL=index.css.map */