body {
    font-family: 'Montserrat', sans-serif;
    color: map-get($map: $paletaColores, $key: 'colorSecundario');
    background: linear-gradient($backgroundBody);
    /* Añadi gradiente al fondo */
}

h1 {
    font-size: large;
}

h2 {
    font-size: large;
}

h3 {
    font-size: large;
}

h4 {
    font-size: large;
}

h5 {
    font-size: large;
}