/* Footer */

.displayGrid {
    display: grid;
    border-top: solid $colorNegro;
    padding-top: 10px;
}

.piePagina {

    footer {
        text-align: center;
    }

    img {
        justify-content: space-around;
        width: auto;
        height: 50px;
    }
}

/* SE AGREGO EXTEND */

.footerGrid {
    @extend .displayGrid;
}