/* Menu BOOTSTRAP */
.navbar {
    background-image: url(../img/FondoWeb1.png);
    background-position: center;
}

.nav-link {
    color: map-get($map: $paletaColores, $key: 'colorPrimario');
}

.nav-link:hover {
    color: map-get($map: $paletaColores, $key: 'colorTerciario');
}

.navbar-toggler-icon {
    background-image: url(../img/icono-menu.png);
}

.navbar-toggler {
    border: solid $colorBlanco
}

.logo {
    height: 60px;
    width: auto;
    border-radius: 35%;
    padding: 5px;
}