/* Grid Contenedor de Index */
.gridContainerIndex {
    display: grid;
    grid-template-areas: "logo menu"
        "textoInicioGrid"
        "footerGrid"
}

/* GRID textoInicioGrid */
.textoInicioGrid {
    display: grid;
    padding-bottom: 10px;
}

/* Incio textoInicio */
.textoInicio h1,
h2 {
    text-align: center;
}

/* Imagen Autos inicio */
@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}

.autosIndex {
    img {
        @include sizes(450px,250px);
        display: flex;
        margin: auto;
        border-radius: 5%;
    }
}

.container {
    h3 {
        text-align: center;
    }
}