/* Imagenes de logos y productos en Productos */
.logoRepuesto {
    padding-top: 1%;
    text-align: center;
}

.logoRepuesto img {
    border-radius: 5%;
}

.fotosProductos {
    text-align: center;
    justify-content: space-around;
}

.fotosProductos img {
    border-radius: 5%;
}
