/* Imagenes de logos y productos en Productos */
.logoRepuesto {
    padding-top: 1%;
    text-align: center;
}

.logoRepuesto img {
    padding-bottom: 15px;
}

.fotosProductos {
    text-align: center;
    justify-content: space-around;
}

.fotosProductos img {
    padding-top: 5px;
    padding-bottom: 5px;
}

.productos h1 {
    text-align: center;
}

.listaProductos {
    h3 {
    text-align: left;
    }
    ol {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}