/* Grid Trabajos */
.gridFotosTrabajos {
    padding-bottom: 10px;

}

/* Texto e imagen en Trabajos */
.trabajos h1,
p {
    text-align: center;
}

.container img {
    width: 450px;
    height: 250px;
}