/* Grid Trabajos */
.gridFotosTrabajos {
    padding-bottom: 10px;

}

/* Texto e imagen en Trabajos */
.trabajos h1,
p {
    text-align: center;
}

@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}
.container img {
    @include sizes (450px,250px);
}