/* Colores para la pagina */


/* Color del body */

$backgroundBody: rgb(65, 65, 65),
rgb(255, 255, 255);
$colorNegro: black;

/* Color Menu Nav */

$colorBlanco: white;
$colorFlowerBlue: cornflowerblue;